/* .autotyping {
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.5rem;
} */

.h1 {
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.p1 {
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

/* .button {
  width: 7rem;
  height: 2rem;
  background-color: black;
  color: white;
  margin-right: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
} */
